.nowrap {
    white-space: nowrap !important;
}
form.cms-filters td { vertical-align:top }
form.cms-filters td.label { text-align:right }

form.cms-grants label.checkbox { white-space:nowrap; display:inline-block; width:45%; border-bottom:1px solid white }
form.cms-grants label.checkbox:hover { background-color:#9acfea }
form.cms-grants label.checkbox.checked { color:green; border-bottom-color:#060 }

form.cms-grants tr.select-all td,
form.cms-grants td.select-all { border:1px solid #e1e1e1; background-color:#efffef; font-style:italic }
form.cms-grants tr.select-all td { border-width:0 0 1px 0 }
form.cms-grants td.select-all { border-width:0 1px }
form.cms-grants tr.select-all td.label { border-width:0 0 0 1px; vertical-align:middle; text-align:center; font-size:larger }

form.cms-record input.column-type-date,
form.cms-record input.column-type-datetime,
form.cms-record input.column-type-time { position:relative; z-index:100; width:15em }
form.cms-record th.column-title { vertical-align:top; text-align:left }
form.cms-record .foreign-key label { text-align:left }
form.cms-record .foreign-key input.form-control { width:83% }
form.cms-record .foreign-key span.input-group-addon { color:#555 }
form.cms-record .point-column .map { width:450px; height:200px; border:1px solid #ddd }
form.cms-record tr.column-type-tinyint td.form-field label { display:inline-block; margin-right:1em }

.cms .postbox-container.record-meta { float:none }
.cms .postbox-container .related-records .hndle { cursor:pointer }
.cms .postbox-container .related-records .inside { margin:0; padding:0 }
.cms .postbox-container .related-records .inside p { padding:8px 12px }
.cms .postbox-container .related-records .inside table.cms { border:0 }
.cms .postbox-container .related-records .inside table.cms th,
.cms .postbox-container .related-records .inside table.cms td { line-height:normal; padding:0.2em; font-size:smaller }

.cms-change-tracker .value { font-family:monospace; background-color:#f1f1f1; color:black }

.cms.wrap .import .stages { width:100%; height:2em; margin-left:0 }
.cms.wrap .import .stages dt,
.cms.wrap .import .stages dd { float:left; margin:0; padding:0.2em 1.5em }
.cms.wrap .import .stages dt { border-bottom:2px solid #CCC; color:#999; font-weight:bolder }
.cms.wrap .import .stages dd { border-bottom:2px dotted #CCC }
.cms.wrap .import .stages dd.completed { border-bottom:2px solid #CCC; background-color:#EEE; text-decoration:line-through }
.cms.wrap .import .stages dd.selected { border-bottom:2px solid #CCC; background-color:#CCC }
.cms.wrap .import .required { color:#a94442 }

#cms-quick-jump { list-style-type:none; border:1px outset black; background-color:white; padding:0.35em; width:20em; z-index:100 }
.cms.wrap #cms-quick-jump { position:absolute; right:2em }
#cms-quick-jump li { margin:0 }
#cms-quick-jump input { display:none; width:100% }
#cms-quick-jump li.filter { float:none; display:list-item; margin:0 }
#cms-quick-jump li.filter label { display:block; text-align:right }
#cms-quick-jump li.filter .text { float:left }
#cms-quick-jump.expanded li { display:list-item }
#cms-quick-jump.expanded input { display:block }
#cms-quick-jump a { text-decoration:none; display:block }
#cms-quick-jump a:hover { background-color:highlight; color:highlighttext }

.cms.wrap table.calendar th { width:14% }
.cms.wrap table.calendar td { border:1px solid #e1e1e1 }
.cms.wrap table.calendar td .day { width:2.2em; float:left; font-weight:bolder }
.cms.wrap table.calendar td ul { margin:0 0 0 2.4em }
.cms.wrap table.calendar td ul li { margin:0 }

table.cms.widefat th,
table.cms.widefat td { padding:0.25em }
table.cms.widefat thead th .sort-icons a { visibility:hidden; padding:0; display:inline }
table.cms.widefat thead th.sortable:hover { background-color:#deedee }
table.cms.widefat thead th.sortable:hover .sort-icons a { visibility:visible }
table.cms.widefat td { line-height:1em }


form.cms-schema td.primary-key,
form.cms-schema td.unique { text-align:center }
form.cms-schema td.reorder { font-size:smaller; white-space:nowrap }
form.cms-schema td.reorder a.move {  }

.cms.shortcode-error { border:1px solid #ccc; padding:0.5em }
.cms.shortcode-error .message { color:red }
